*~
*.swp
*.vagrant*
*.retry
*.vdi
*.box
*.pyc
*.log
terraform/envs/vcloud/inventory.yml

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/*.lock.hcl

# .tfstate files
**/*.tfvars

# Crash log files
crash.log

# Roles checked out via ansible-galaxy
aws_creds.sh

# for copy-past gitlab registation token
temp.txt